* {
    margin: 0;
    padding: 0;
    font-family: roboto;
    font-weight: 400;
}

body{
    background: #E3E9FF;
}

ul {
    list-style: none;
}

textarea:focus, input:focus, button{
    outline: none;
}

button{
    cursor: pointer;
}

.container{
    width: 300px;
    margin: 50px auto;
}

/*
$primary-color: #AF7EEB;
$secondary-color: #939CBD;
$tertiary-color: #FFFFFF;

$primary-background-color: #E3E9FF;
$secondary-background-color: $tertiary-color;
$tertiary-background-color: $primary-color;

$primary-text-color: $secondary-color;
$secondary-text-color: $tertiary-color;

$danger-color: #FF002E;
*/